* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Navigation Styling */
nav {
    align-items: center;
}

/* Text Styling */
p {
    text-align: center;
    font-family: 'Gill Sans MT';
    margin: 2em;
    font-size: 1em;
}

h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium';
    font-size: 1.1em;
}

h2 {
    text-align: center; 
}

/* Body Styling */
main {
    padding-bottom: 1em;
}

footer {
    background-color: #ff9d00;
}